.container{
    width: 100%;
    height: 100vh;
    background: #F2BE22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 300%;
    user-select: none;
}