*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.full-viewport{
    width: 100%;
    height: 100vh;
    min-height: 750px;
    display: flex;
    justify-content: center;
}

.full-viewport-footer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.viewport-container{
    width: 1200px;
    min-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.style-a{
    text-decoration: none;
    color: #48342D;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;
}

.style-a:hover{
    background: #DFDDD9;
    transition: .3s;
}
.linea-container{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linea{
    height: 1px;
    width: 700px;
    background: #CECAC6;
}

.nav-pagina{
    display: flex;
}

.input_text{
    height: 45px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #CECAC6;
    border-radius: 7px;
    background: transparent;
    color: #48342D;
}

.input_text:focus{
    border: 1px solid #9E9490;
}

.input_text-dos{
    padding: 10px;
    border: 1px solid #DCD8D7;
    border-radius: 7px;
    outline: none;
    background: transparent;
    color: #48342D;
    margin-top: 15px;
    margin-bottom: 15px;
}

.label_style{
    color: #48342D;
    font-weight: 600;
}

.input_text-dos:focus{
    border: 1px solid #9E9490;
}

.container_Menu{
    width: 1200px;
    min-width: 1200px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerMenu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.headerMenu_logo{
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 35px;
}

.headerMenu_logo-uno{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.headerMenu_user{
    display: flex;
    align-items: center;
}

.headerMenu_logo-dos{
    width: 110px;
    height: 49.93px;
}

.headerMenu_user-circle{
    width: 30px;
    height: 30px;
    border: 1px solid #9E9490;
    border-radius: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #827b78;
}

.sectionMenu_container{
    height: 89%;
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectionMenu_nav{
    border: 1px solid #EDECEA;
    border-radius: 7px;
    width: 230px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.sectionMenu_nav:hover{
    border: 1px solid #CECAC6;
    transition: .3s;
}

.sectionMenu_navegacion{
    color: #48342D;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
}

.sectionMenu_label-uno{
    color: #48342D;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 14px;
    padding: 0px 0px 0px 30px;
}

.sectionMenu_space{
    width: 100%;
    height: 95px;
}

.sectionMenu_boton{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #827b78;
    font-weight: 400;
    font-size: 15px;
    padding: 0px 0px 0px 27px;
    border-right: 3px solid transparent;
}

.sectionMenu_imgBoton{
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
    margin-right: 5px;
}

.sectionMenu_boton:hover{
    background: #EDECEA;
    border-right: 3px solid #9E9490;
    color: #473a36;
    transition: .3s;
}

.sectionMenu_boton-static{
    background: #EDECEA;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #473a36;
    font-weight: 400;
    font-size: 15px;
    padding: 0px 0px 0px 27px;
    border-right: 3px solid #9E9490;
}

.sectionMenu_lienzo{
    border: 1px solid #EDECEA;
    border-radius: 7px;
    width: 890px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.sectionMenu_lienzo:hover{
    border: 1px solid #CECAC6;
    transition: .3s;
}



/* index */

.container-header{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-img{
    height: 80%;
}

.header-navUno{
    display: flex;
    width: 450px;
    justify-content: left;
}

.header-navDos{
    display: flex;
    width: 450px;
    justify-content: right;
}

.fraseIndex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fraseIndex label{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    color: #48342D;
}

.index-section{
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
}

.index-sectionImg{
    width: 540px;
    border: 1px solid #CECAC6;
}

.index-sectionFrase{
    width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.index-sectionFrase_label{
    color: #48342D;
    font-weight: 500;
    margin-right: 245px;
    font-size: 20px;
}

.index-sectionFrase_img{
    width: 480px;
}

.linea-frase{
    height: 1px;
    width: 300px;
    background: #CECAC6;
    margin-top: 10px;
    margin-right: 100px;
}

.index-sectionA{
    text-decoration: none;
    color: #48342D;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 100px;
    border-bottom: 2px solid #F7F6F6;
}

.index-sectionA:hover{
    border-bottom: 2px solid #48342D;
    transition: .5s;
}

/* quienes somos */

.quienesSomos-sectionUno{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.quienesSomos-section{
    width: 100%;
    height: 450px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.quienesSomos-arribaImg_uno{
    width: 60px;
    padding-right: 10px;
}

.quienesSomos-arribaImg_dos{
    height: 40px;
    padding-left: 10px;
}

.quienesSomos-section_img{
    height: 70%;
    padding-left: 30px;
}

.quienesSomos-section_parrafo label{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
}

.quienesSomos-section_parrafo p{
    padding-top: 30px;
}

.quienesSomos-section_parrafo{
    text-align: right;
    color: #48342D;
}

/* contactenos */

.contactenos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactenos-section_label{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
    color: #48342D;
}

.contactenos-section_form{
    width: 800px;
    height: 450px;
}

.contactenos-form_uno{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactenos-form_nombreCompleto{
    width: 48%;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.contactenos-form_correoElectronico{
    width: 48%;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.contactenos-form_asunto{
    width: 100%;
    height: 90px;
}

.contactenos-form_motivo{
    width: 100%;
    display: flex;
}

.radio_edit{
    margin-left: 15px;
}

.contactenos-form_textArea{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.contactenos_textArea{
    resize: none;
    outline: none;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #CECAC6;
    border-radius: 7px;
    background: transparent;
    color: #48342D;
}

.contactenos_textArea:focus{
    border: 1px solid #9E9490;
}

.contactenos-form_submit{
    width: 100%;
    display: flex;
    padding-top: 14px;
    justify-content: flex-end;
}

.contactenos-form_submitBotton{
    padding: 10px 25px;
    border-radius: 7px;
    border: 1px solid #48342D;
    background: transparent;
    color: #48342D;
    cursor: pointer;
    font-weight: 500;
}

.contactenos-form_submitBotton:hover{
    background: #473a36;
    color: #F7F6F6;
    transition:.3s;
}

/* galeria */

.viewport-container-footer{
    height: 50vh;
    width: 100%;
}

.container-galeria{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria_box-container{
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria_box-miniContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CECAC6;
    padding: 5px;
    height: 130px;
}

.galeria_box-peque침o{
    height: 120px;
}

.galeria_box-peque침oLabel{
    height: 120px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria_box-peque침o img{
    height: 120px;
    padding: 3px;
}

.galeria-label{
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    color: #48342D;
}

.galeria-sectionA{
    text-decoration: none;
    color: #48342D;
    font-weight: 600;
    margin-top: 10px;
    border-bottom: 2px solid white;
}

.galeria-sectionA:hover{
    border-bottom: 2px solid #48342D;
    transition: .5s;
}

.footer_galeria{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_section{
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: center;
}

.footer_left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    padding-top: 50px;
    width: 300px;
}

.footer_right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding-top: 50px;
    width: 300px;
}

.footer_left-uno{
    width: 60px;
}

.footer_left-dos{
    width: 200px;
}

.footer_center{
    width: 1px;
    height: 100%;
    background: #CECAC6;
    margin-right: 40px;
    margin-left: 40px;
}

/* LogIn */

.container_login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_login{
    border: 1px solid #EDECEA;
    width: 350px;
    height: 370px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-size: 15px;
}

.form_login:hover{
    border: 1px solid #CECAC6;
    transition: .3s;
}

.input_botton-login{
    padding: 10px;
    border: 1px solid #48342D;
    border-radius: 7px;
    outline: none;
    background: transparent;
    color: #48342D;
    margin-top: 10px;
    margin-bottom: 14px;
    cursor: pointer;
}

.input_botton-login:hover{
    background:#473a36;
    color: white;
    transition: .3s;
}

.formLogin-nav{
    display:flex;
    justify-content: space-between;
}

.formLogin-nav_a{
    text-decoration: none;
    color: #9E9490;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.formLogin-nav_a:hover{
    color: #473a36;
    font-weight: 500;
    border-bottom: 2px solid #473a36;
    transition: .3s;
}

/* SignIn */

.container-signIn{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-signIn_personales{
    display: flex;
    border: 1px solid #EDECEA;
    flex-direction: column;
    border-radius: 7px;
}

.container-signIn_personales:hover{
    border: 1px solid #CECAC6;
    transition: .3s;
}

.container-signIn_conjunto{
    display: flex;
}

.signIn_personales_uno{
    display: flex;
    flex-direction: column;
    width: 320px;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

.signIn_personal_unoCBX{
    margin-top: 24px;
    margin-bottom: 24px;
}

.container-signIn_contacto{
    display: flex;
    border: 1px solid #EDECEA;
    flex-direction: column;
    border-radius: 7px;
    padding: 40px 40px 21px 40px;
    margin-left: 40px;
}

.container-signIn_contacto:hover{
    border: 1px solid #CECAC6;
    transition: .3s;
}

.signIn-sectionFrase_label{
    color: #48342D;
    font-weight: 500;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 45px;
}

.signIn_personales_dos{
    display: flex;
    flex-direction: column;
    width: 260px;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

.signIn_personales_volver{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Creaci칩n de hogar */

