*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.fullPage{
    height: 100vh;
    width: 100%;
    background: #1f1f26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    transition: .1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

.content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.content-center-img{
    width: 100px;
}

.content-center .content-center-child:hover ~ .circle{
    background: white;
    transform: scale(6);
}

.content-center-name{
    font-size: 50px;
    font-family: 'Quattrocento', serif;
    padding-top: 8px;
    margin: 0px 0px 6px 0px;
}

.content-center-tag{
    font-size: 20px;
    margin-bottom: 6px;
}

.content-li{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-btn{
    /* background-color: rgba(255,255,255,0.1); */
    padding: 8px 10px;
    border-radius: 50%;
}

.content-center-a{
    transition: all 0.5s;
    position: relative;
}

.content-center-a::before{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    border-radius: 50%;
	z-index: 1;
	transition: all 0.3s;
    /* transform: scale(1.5,1.5); */
}

.content-btn:hover::before{
    opacity: 0;
    background-color: white;
    transform: scale(0.5,0.5);
}

.content-center-a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
    border-radius: 50%;
	z-index: 1;
	transition: all 0.3s;
	border: 2px solid white;
	transform: scale(2,2);
    opacity: 0;
}
.content-btn:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.principal{
  background: url(/source/fondo.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-principal{
    height: 60px;
    width: 100%;
    padding: 0px 2% 0px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* backdrop-filter: blur(6px); */
}

.btn-a{
    text-decoration: none;
    color: white;
    padding: 10px;
    /* border: 2px solid white; */
    margin: 5px;
    transition: all 0.5s;
    position: relative;
}

.btn-a::before{
    content: '';
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
	z-index: 1;
	transition: all 0.4s;
}

.btn-a:hover::before{
    opacity: 0;
    background: white;
    transform: scale(0.5,0.5);
}

.btn-a::after {
	content: '';
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	z-index: 1;
	transition: all 0.4s;
	border: 2px solid white;
    opacity: 0;
    transform: scale(.5,.5);
    
}
.btn-a:hover::after {
	opacity: 1;
    transform: scale(1,1);
}

.labelStyle{
    color: white;
}

.footer-principal{
    /* background: red; */
    height: 60px;
    width: 98%;
}
